@model ServicePetModel

<div>
    <h4>Sửa dữ liệu</h4>
    <hr />
    <form asp-controller="ServicePet" asp-action="Edit" method="post">
        <div class="form-body">
            <input type="hidden" asp-for="Id" />

            <div class="modal-body">
                <div class="form-group">
                    <label asp-for="title" class="control-label"></label>
                    <input asp-for="title" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="icon" class="control-label"></label>
                    <input asp-for="icon" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="content" class="control-label"></label>
                    <input asp-for="content" class="form-control" />
                </div>
            </div>
            <div class="modal-footer form-actions">
                <button type="submit" class="btn btn-success btn-sm">
                    Lưu
                </button>
            </div>
        </div>
    </form>
</div>